appdirs==1.4.3
apscheduler==2.1.2
asn1crypto==0.22.0
beautifulsoup4==4.6.0
cffi==1.10.0
click==6.7
decorator==4.0.11
docopt==0.6.2
enum34==1.1.6
Flask==0.12.1
Flask-Admin==1.5.0
Flask-BasicAuth==0.2.0
gensim==3.0.0
gunicorn==19.7.1
hues==0.2.2
idna==2.6
imageio==2.1.2
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
moviepy==0.2.3.2
nltk==3.2.2
nodeenv==1.1.2
numpy==1.12.1
olefile==0.44
packaging==16.8
peewee==2.9.2
piexif==1.0.12
Pillow==4.1.1
progressbar2==3.34.3
pycparser==2.17
pyparsing==2.2.0
python-dateutil==2.6.1
python-utils==2.2.0
PyYAML==3.12
requests==2.18.4
requests-toolbelt==0.8.0
selenium==3.3.3
six==1.11.0
slackweb==1.0.5
tqdm==4.11.2
urllib3==1.22
Werkzeug==0.12.1
wtf-peewee==0.2.6
WTForms==2.1
certifi==2018.1.18
chardet==3.0.4
h5py==2.8.0
typing==3.6.4
fake_useragent==0.1.10
fs==2.0.23
tenacity==4.12.0
torch==0.4.0
torchvision==0.2.0
torchtext==0.2.3
jupyter==1.0.0
pandas==0.24.2
unirest==1.1.7
dill==0.2.9
future==0.16.0
scikit-learn==0.20.3
sklearn==0.0
contextualbandits==0.1.7.6
costsensitive==0.1.1
joblib==0.13.2
matplotlib==2.2.4
twython==3.7.0

#missing for savqa:
#h5py
#numpy
#torchtext
#nltk
#torchvision
